@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Movies App</h1>
    <p class="lead">Find, update, and rate all your favourite movies and actors online.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sergei Shustov</h2>
        <p>Student #200325005</p>
        <p>Email: sergei.shustov@mygeorgian.ca</p>
        <p>Database Models, Migrations, and Controllers</p>
    </div>
    <div class="col-md-4 pull-right">
        <h2>David McNiven</h2>
        <p>Student #200330143</p>
        <p>Email: david.mcniven@mygeorgian.ca</p>
        <p>Views, JQuery, and Controllers</p>
    </div>
</div>